################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Informatica/v16/ipch/AutoPCH/32484232b4e8fac4
